.feedback__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 100px;
}

.feedback__content {
    width: 90%;
    margin: 0 auto;

    & .title {
        text-align: left;
    }

    & .subtitle {
        text-align: left;
        margin-bottom: 50px;
    }
}

.feedback__photo {
    width: 50%;
    height: 50%;
}

@media (max-width: 414px) {
    .feedback__content .title {
        font-size: 29px;
    }
}






