.fixed {
    display: none;
    flex-direction: column;
    justify-content: start;
    position: fixed;

    right: 2%;
}

.fixed__link {
    writing-mode: vertical-rl;
    font-size: 18px;
    font-weight: 700;
    color: $gray-light;

    text-transform: uppercase;
    margin-bottom: 15px;

    transition: color .2s linear;

    &:hover {
        color: $black;
    }
}

@media (max-width: 414px) {
    .fixed__link {
        font-size: 14px;
    }
}