.form {
    display: flex;
    flex-direction: column;
}

.input {
    width: 100%;
    padding: 21px 28px;
    margin: 10px 0 27px;
    display: block;

    border: 1px solid rgba(106,105,107,0.3);
    border-radius: 27px;

    font-family: inherit;
    font-size: 12px;
    font-weight: 300;

    outline: none;

    &--textarea {
        height: 200px;
        resize: none;
    }

    &:focus {
        border-color: $gray;
    }
}