.header {
    width: 100%;
    margin: 30px auto;
}

.header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
}

.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
        display: flex;
        align-items: center;
        
        &:first-child {
            margin-right: 20px;
        }

        & a {
            margin-left: 10px;
        }
    }
}