.header {
    width: 100%;
    margin: 30px auto auto;
}

.header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 18px;
}

.burger {
    display: none;
}

@media (max-width: 1140px) {
    .burger {
        display: block;
    }
}

@media (max-width: 414px) {
    .header {
        margin-top: 15px;
    }
}

