.instruments {
    padding-top: 15px;
}

.instruments__slider {
    width: 90%;
    margin: 100px auto;
}

.instruments__item {
    
    margin: auto 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.instruments__content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding-right: 20px;
}

.instruments__title {
    font-size: 35px;
    color: $black;
    font-weight: 700;
    margin-bottom: 20px;
}

.instruments__text {
    color: $gray;
    line-height: 1.5;

}

@media (max-width: 768px) {
    .instruments__item {
        flex-direction: column;
    }

    .instruments__content {
        padding-right: 0;
    }

    .instruments__title {
        text-align: center;
    }

    .instruments__text {
        margin-bottom: 30px;
        text-align: justify;
    }

    .instruments__photo {
        margin: 0 auto;
    }
}

@media (max-width: 414px) {
    .instruments__slider {
        margin-top: 0;
    }

    .instruments__title {
        font-size: 25px;
    }

    .instruments__text{
        font-size: 13px;
    }

    .instruments__photo {
        width: 75%;
    }
}



