@import "vars";
@import "blocks/header";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/btn";

*,
:before,
:after {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: 'Comfortaa',cursive;
    cursor: pointer;
}

body {
    font-size: 15px;
    font-family: 'Comfortaa',cursive;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}