@import "vars";


*,
:before,
:after {
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: 'Comfortaa',cursive;
    cursor: pointer;
}

body {
    font-size: 15px;
    font-family: 'Comfortaa',cursive;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    font-size: 45px;
    color: $black;
    font-weight: 700;

    text-align: center;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 30px;
    color: $gray-light;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 100px;
}

@import "blocks/header";
@import "blocks/contacts";
@import "blocks/nav";
@import "blocks/intro";
@import "blocks/social";
@import "blocks/btn";
@import "blocks/instruments";
@import "blocks/slider";
@import "blocks/works";
@import "blocks/about";
@import "blocks/blog";
@import "blocks/feedback";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/modal";
@import "blocks/fixedBar";
@import "slick";